@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using StudentTrackerApp.Services
@using StudentTrackerApp.Repositories
@inject ProtectedSessionStorage ProtectedSessionStore
@inject UserSession Session
@inject IUserRepository UserRepo

<NavMenu />

<main class="container">
    @Body
</main>


@code {
    private bool _isSessionLoaded = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                if (Session.IsLoggedIn)
                {
                    return;
                }

                var result = await ProtectedSessionStore.GetAsync<int>("UserId");

                if (result.Success && result.Value > 0)
                {
                    var user = await UserRepo.ReadUserAsync(result.Value);
                    if (user != null)
                    {
                        Session.Id = user.Id;
                        Session.Email = user.Email;
                        Session.UserType = user.UserType;
                        Session.FirstName = user.FirstName;
                        Session.LastName = user.LastName;
                    }
                }
            }
            finally
            {
                _isSessionLoaded = true;

                StateHasChanged();
            }
        }
    }
}