@page "/counter"
@attribute [StreamRendering]
@using Repositories
@using Models
@inject IUserRepository userrepo
@inject IStudentTeacherRepository studentteacherrepo

Create an Account
<br />
Teacher or Student:<input @bind='userType'type="text" name="userType"/>
<br />
User ID:<input @bind='userID'placeholder = ""type="text" name="userID" />
<br />
First Name: <input @bind='fName' type="text" name="firstName" />
<br />
Last Name:  <input @bind='lName'type="text" name="lastName" />
<br />
Email: <input @bind='email'type="text" name="email" />
<br />
Create Password: <input @bind='password'type="text" name="password" />
<br />

<button @onclick="SubmitUser">Submit</button>

@code{
    string userID = string.Empty;
    string fName = string.Empty;
    string lName = string.Empty;
    string email = string.Empty;
    string password = string.Empty;
    string userType = string.Empty;
    public User newUser = new();
    public async Task SubmitUser()
    {
        newUser.FirstName = fName;
        newUser.LastName = lName;
        newUser.Email = email;
        newUser.UserType = userType;
        newUser.Password = password;
        

        await userrepo.CreateUserAsync(newUser);
    }

}