@page "/counter"
@attribute [StreamRendering]
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Repositories
@using Models
@using System.Runtime.InteropServices
@inject IUserRepository userrepo
@inject IStudentTeacherRepository studentteacherrepo
@inject NavigationManager Navigation
@if (showpage)
{
    <p>Create an Account</p>

    /*/<InputRadioGroup @bind-Value="userType">
        <InputRadio Value='"Teacher"'>Teacher</InputRadio>Teacher
        <InputRadio Value='"Student"'>Student</InputRadio>Student
    </InputRadioGroup>
    /*/


    <p>Teacher or Student</p><input @bind='userType'type="text" name="userType"/>
    <p>First Name: </p><input @bind='fName' type="text" name="firstName" />
    <p>Last Name: </p> <input @bind='lName'type="text" name="lastName" />
    <p>Email</p> <input @bind='email'type="text" name="email" />
    <p>Create Password:</p> <input @bind='password'type="text" name="password" />
    <br />
    <button @onclick="SubmitUser">Submit</button>
}

@if (!showpage)
{
    <p>Created! Redirecting....</p>
}
@code{
    string fName = string.Empty;
    string lName = string.Empty;
    string email = string.Empty;
    string password = string.Empty;
    string userType = string.Empty;
    bool showpage = true;
    public User newUser = new();
    public async Task SubmitUser()
    {
        
        newUser.FirstName = fName;
        newUser.LastName = lName;
        newUser.Email = email;
        newUser.UserType = userType;
        newUser.Password = password;

        await userrepo.CreateUserAsync(newUser);
        showpage = false;
        await Task.Delay(5000);
        Navigation.NavigateTo("");
    }

}