@page "/createaccount"
@attribute [StreamRendering]
@rendermode InteractiveServer
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Repositories
@using Models
@using System.Runtime.InteropServices
@inject IUserRepository userrepo
@inject IStudentTeacherRepository studentteacherrepo
@inject NavigationManager Navigation
@if (showpage)
{
    <p>Create an Account
    <InputRadioGroup @bind-Value="userType">
        <InputRadio Value='"Teacher"'>Teacher</InputRadio>Teacher
        <InputRadio Value='"Student"'>Student</InputRadio>Student
    </InputRadioGroup></p>
    
    <p>First Name: <input @bind='fName' type="text" name="firstName" /></p>
    <p>Last Name:  <input @bind='lName'type="text" name="lastName" /></p>
    <p>Email <input @bind='email'type="text" name="email" /></p>
    <p>Create Password: <input @bind='password'type="text" name="password" /></p>
    <br />
    <button @onclick="SubmitUser">Submit</button>
}

@if (!showpage)
{
    <p>Created! Redirecting....</p>
}




@code{
    string fName = string.Empty;
    string lName = string.Empty;
    string email = string.Empty;
    string password = string.Empty;
    string userType = string.Empty;
    bool showpage = true;
    public User newUser = new();
    public async Task SubmitUser()
    {
        
        newUser.FirstName = fName;
        newUser.LastName = lName;
        newUser.Email = email;
        newUser.UserType = userType;
        newUser.Password = password;

        await userrepo.CreateUserAsync(newUser);
        showpage = false;
        await Task.Delay(5000);
        Navigation.NavigateTo("");
    }

}