@page "/"
@rendermode InteractiveServer
@using Repositories
@using Services
@inject IUserRepository userrepo
@inject UserSession session
@inject NavigationManager NavManager

<PageTitle>Login</PageTitle>

<h1>Login</h1>

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin" FormName="LoginForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText @bind-Value="loginModel.Email" placeholder="Email" />
    <InputText @bind-Value="loginModel.Password" placeholder="Password" type="password" />
    <button type="submit">Login</button>
</EditForm>

@if (!string.IsNullOrEmpty(Error))
{
    <p style="color:red">@Error</p>
}

@code
{
    private LoginModel loginModel = new();
    private string Error { get; set; }
    private async Task HandleLogin()
    {
        var users = await userrepo.ReadAllUsersAsync();
        var email = loginModel.Email?.Trim().ToLowerInvariant();
        var password = loginModel.Password?.Trim();
        var user = users.FirstOrDefault(u =>
        u.Email.Trim().ToLowerInvariant() == email &&
        u.Password.Trim() == password);
        if (user == null)
        {
            Error = $"Invalid email or password";
            return;
        }

        session.Id = user.Id;
        session.Email = user.Email;
        session.UserType = user.UserType;
        session.FirstName = user.FirstName;
        session.LastName = user.LastName;

        NavManager.NavigateTo("/userDashboard");
    }
    public class LoginModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
}