@page "/"

<PageTitle>Login</PageTitle>

<h1>Login</h1>

Username: 
<input type="text" name="username" />
<br />
Password: 
<input type="password" name="password" />
<br />
Please select from the following
<br />
<input type="radio" name="userType" value="Student" />Student
<br />
<input type="radio" name="userType" value="Teacher" />Teacher
<br />
<input type="radio" name="userType" value="Admin" />Admin
<br />
<button type="submit">Login</button>