@page "/login"
@rendermode InteractiveServer
@using Repositories
@using Services
@using Models
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject IUserRepository userrepo
@inject UserSession session
@inject NavigationManager NavManager
@inject ProtectedSessionStorage ProtectedSessionStore
<PageTitle>Login</PageTitle>

<style>
    form {
        display: grid;
        gap: 1rem;
        width: min(320px, 90vw);
    }

    input, button {
        padding: .65rem;
        font-size: 1rem;
        border-radius: .6rem;
    }

    input {
        border: 1px solid #d0d0d0;
    }

    button {
        border: none;
        background: #2563eb;
        color: #fff;
    }

        button:hover {
            background: #1e4fc7;
        }

    .text-danger {
        color: #dc2626;
    }

    a {
        color: #2563eb;
    }
</style>

<h1>Login</h1>

<EditForm Model="@loginModel" OnValidSubmit="HandleLogin" FormName="LoginForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText name="Email" @bind-Value="loginModel.Email" placeholder="Email" />
    <InputText name="Password" @bind-Value="loginModel.Password" placeholder="Password" type="password" />
    <button type="submit">Login</button>
    <a href="/createAccount">Create Account</a>
</EditForm>
@if (!string.IsNullOrEmpty(Error))
{
    <p class="text-danger">@Error</p>
}



@code
{
    private LoginModel loginModel = new();
    private string Error { get; set; }

    private async Task HandleLogin()
    {
        var email = loginModel.Email?.Trim().ToLowerInvariant();
        var password = loginModel.Password?.Trim();
        var user = await userrepo.GetUserByEmailAndPasswordAsync(email, password);
        if (user == null)
        {
            Error = $"Invalid email or password";
            return;
        }

        session.Id = user.Id;
        session.Email = user.Email;
        session.UserType = user.UserType;
        session.FirstName = user.FirstName;
        session.LastName = user.LastName;

        await ProtectedSessionStore.SetAsync("UserId", user.Id);

        NavManager.NavigateTo("/");
    }

    private void GoToCreateAccount()
    {
        NavManager.NavigateTo("/createaccount");
    }

    public class LoginModel
    {
        public string Email { get; set; }
        public string Password { get; set; }
    }
}
