@page "/teacher"
@attribute [StreamRendering]
@using Repositories
@using Models
@inject IUserRepository userrepo
@inject IStudentTeacherRepository studentteacherrepo
<PageTitle>Teacher</PageTitle>

<h1>Teacher</h1>

<p>Send out a notification to all students.</p>

<input type="text" name="Notification" />

@if (students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in students)
            {
                <tr>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.Email</td>
                    <td>@student</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<User> students = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        List<int> mystudentids = await studentteacherrepo.GetStudentsByTeacherIdAsync(1); // Get from login page
        foreach (int student in mystudentids)
        {
            students.Add(await userrepo.ReadUserAsync(student));
        }
    }
}
